.categoryDisplay {
    background-color: var(--gray-100);
    width: 12rem;
    padding: 1.6rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }

    span {
        font-size: 1.2rem;
    }
}