.container {
  min-height: 100vh;

  h1 {
    margin: 5rem 0;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

}

.hoursContainer {
  display: flex;
  justify-content: space-between;
  
}

.createForm {
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px #aaa;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  input, textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }
  
  button {
    margin-top: 3rem;
  }

}