.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    label, p {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.documentTypeContainer {
    display: flex;
    flex-direction: column;
}

.documentTypes {
    display: flex;
    gap: 1rem;

    label {
        margin-left: 0.3rem;
    }

}

@media screen and (min-width: 750px) {
    .documentTypeContainer {
        flex-direction: row;
        align-items: center;    
        justify-content: space-between;

        input[type=number] {
            width: 40%;
        }
    }
}