:root {
  --white: #fff;
  --gray-100: #f0f0f0;
  --gray-200: #d3d3d3;
  --gray-300: #a8a8b3;
  --gray-400: #8D8686;
  --gray-500: #585656;
  --gray-600: #383e44; 
  --gray-700: #29292e;
  --gray-800: #1f2729;
  --gray-850: #272221;
  --gray-900: #121214;

  --cyan-500: #61bafb;
  --yellow-300: #E6CD00;
  --orange-400: #f6b638;
  --orange-500: #eba417;
  --orange-700: #c78500;

  --red-200: #BF7960;
  --red-300: #f84747;
  --red-500: #b90000;
  --red-800: #590202;
  --beige-100: #fffaf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray-850);
  background-color: var(--beige-100);
}

body, input, textarea, select, button {
  font: 400 1rem "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

main {  
  margin: 0 auto 4rem;
  padding: 0 2rem;
  max-width: 60rem;
}

section {
  width: 100%;
}

@media(min-width: 720px){
  main {
    max-width: 110rem;
    padding: 0 5rem;
  }

  html {
    font-size: 87.5%;
  }
}


