.container {
  position: relative;
}

.label {
  box-shadow: 0 1px 3px var(--gray-200);
  padding: 0.8rem;  
  font-size: 1.1rem;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  color: var(--gray-300);
}

.list {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  margin-top: 0.5rem;
  max-height: 15rem;
  overflow: auto;
  box-shadow: 0 1px 10px var(--gray-300);
  border-radius: 5px;

  li {
    margin-inline: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.selectedOption {
  background-color: var(--gray-100);
  border-radius: 5px;
}
