.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.page {
  width: 100%;
}

.pageContent {
  width: 100%;
  padding: 2.5rem;

  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}