.cardContainer {
  width: 21.5rem;
  max-width: 21.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.096);
  cursor: pointer;
  background-color: white;
  
  img {
    width: 100%;
    height: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.infos {
  padding: 1.4rem;
  display: flex;
  gap: 1.2rem;
  max-height: 40%;
  overflow: hidden; 
}

.description, .description p {
  margin-top: 0.875rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dateContainer {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: var(--orange-500);
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}