.cardContainer {
  width: 21.5rem;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.096);
  cursor: pointer;
  
  img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.description {
  padding: 1.4rem;
  display: flex;
  gap: 1.2rem;

  p {
    margin-top: 0.875rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.dateContainer {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: var(--yellow-500);
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}