.header {
  width: 100%;
  background-color: #fff;
  padding: 1.4rem;
  display: flex;
  box-shadow: 0 0 5px var(--gray-200);

  button {
    background-color: transparent;
  }
}

.userInfo {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  > span {
    font-size: 1rem;
    font-weight: 700;
  }
}

.menuList {
  position: absolute;
  right: 0;
  top: -3rem;
  margin-top: 6rem;
  background-color: #fff;
  width: 80%;
  box-shadow: 0 0 5px var(--gray-200);
  border-radius: 5px;
  padding: 0.5rem;
  
  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  li:hover {
    color: var(--orange-500)
  }
}

@media(min-width: 667px) {
  .openSidebar {
    display: none;
  }

  .userInfo > span {
    font-size: 1.4rem;
  }

  .menuList li, .menuList a {
    font-size: 1rem;
  }
}