.content {
  width: 100%;
  padding: 2.5rem;
  
  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  table {
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gray-200);
  }
  
  table, th, td {
    padding: 0.8rem;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: var(--gray-100);
  }
  
  td {
    padding: 1.4rem;
    border-bottom: 1px solid var(--gray-100);
  }
}

.actions {
  display: flex;
  gap: 1.5rem
}

.filters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  input {
    box-shadow: 0 1px 3px var(--gray-200);
    padding: 0.8rem;  
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray-200);

    &::placeholder {
      color: var(--gray-300)
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

@media(max-width: 667px) {
  .content {
    table {
      font-size: 0.8rem;
    }

    table, th, td {
      padding: 0.5rem;
    }
    
  }
}