.inputContainer {
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}

.input {
    box-shadow: 0 1px 3px var(--gray-200);
    padding: 0.6rem; 
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray-200);

    &::placeholder {
      color: var(--gray-300)
    }
}

.errorMessage {
  display: inline-block;
  color: var(--red-300);
  font-size: 0.9rem;
  padding-left: 0.5rem;
  margin-top: 0.2rem;
}