.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    color: var(--red-800);
    font-size: 2.5rem;
  }
}

.homeContent {
  color: var(--white);
  padding: 3rem;
  position: relative;
  min-height: 25rem;
  
  &::before {
    content: "";
    background: linear-gradient(63deg, rgba(121,114,5,0.6390756131554185) 0%, rgba(133,57,3,0.7371148288416929) 41%, rgba(105,65,1,0.5578431201582195) 72%, rgba(107,42,3,0.5522408792618609) 100%);   
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;  
  }

  h1 {
    width: 70%;
    font-size: 2.6rem;
    text-transform: uppercase;
  }
  
  p {
    margin-block: 1rem;
    line-height: 10px;
  }
}

.searchWrapper {
  width: 80%;
  max-width: 80rem;
  margin: -2.5rem auto 0;
  padding: 1rem;
  background: var(--yellow-500);
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.411);
  display: flex;
  align-items: center;
  gap: 1rem;
  
  input {
    font-size: 1rem;
    width: 100%;
    color: var(--white);
    border: none;
   }

   input::placeholder {
    color: #676363
   }

   svg {
    cursor: pointer
   }
}

.eventsSection {
  width: 100%;
  margin-block: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 3rem;
  }

  > button {
      color: var(--white);
      background: var(--red-800);
      font-size: 1.2rem;
      padding: 1rem 5rem;
      border-radius: 15px;
  }
}

.contactSection {
  color: black;
  background-color: var(--yellow-500);
  width: 100%;
  
  margin: 0 auto;
  
  border-radius: 25px;
  padding: 2rem 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  img {
    width: 100%;
    max-width: 28rem;
  }

  div {
    max-width: 35rem;

    h4 {
      font-size: 2rem;
      line-height: 2rem;
    }

    p {
      font-size: 1.1rem;
      margin: 2rem 0;
    }
    
    button {
      color: var(--white);
      background: var(--red-800);
      font-size: 1.2rem;
      width: 20rem;
      padding: 1rem;
      border-radius: 35px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.534);
    }
  } 
}

.categoriesSection {
  margin: 5rem 0;
  text-align: center;

  > div {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
}

.advantagesSection {
  text-align: center;

  > div {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;

    div:nth-child(1) {
      svg {
        background-color: var(--red-300);
      }
    }

    div:nth-child(2) {
      svg {
        background-color: var(--yellow-500);
      }
    }

    div:nth-child(3) {
      svg {
        background-color: var(--cyan-500);
      }
    }
  }
  
  svg {
    font-size: 8rem;
    border-radius: 50%;
    padding: 2rem;
    color: var(--white)
  }

  p {
    font-size: 1.4rem;
  }
}

@media(min-width: 768px) {
  .homeContent {
    padding: 10rem 7rem;

    h1 {
      font-size: 4.6rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .advantagesSection {
    > div {
      flex-direction: row;
    }
  }
}

@media(min-width: 996px) {
  .contactSection {
    flex-direction: row;
    gap: 5rem;
  }
}