.button {
  width: 100%;
  color: var(--white);
  background: var(--orange-500);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;

  padding: 0.7rem;
  border-radius: 6px;
  
  transition: 0.4s;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &[data-secondary=false]:not(:disabled):hover {
    background: var(--orange-700);
  }

  &[data-secondary=true] {
    color: var(--orange-500);
    background-color: transparent;
    border: 1px solid var(--orange-500);
  }
}
