.headerContainer {
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 2rem;
}

.headerContainer img {
  width: 6.5rem;
}
  
.linksWrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige-100);
  padding: 1rem 0;
  margin-top: -5rem;
  visibility: hidden;
  opacity: 0;
  transition: margin-top 0.4s;

  a {
    color: var(--orange-500);
    font-weight: 700;
    font-size: 0.9rem;
  }
}

.headerContainer[data-opened-menu="true"] .linksWrapper {
  position: relative; 
  z-index: -1;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.loginLink {
  padding: 0.6rem 2.2rem;
  border-radius: 30px;
  border: 1px solid var(--orange-500);
}

.openMenuBtn {
  background: transparent;
}

@media(min-width: 768px) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer img {
    width: 9rem;
  }

  .linksWrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 0;
    visibility: visible;
    opacity: 1;

    a {
      font-size: 1.2rem;
    }
  }

  .openMenuBtn {
    display: none;
  }
}